
<div class="lorem">
  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto at ex iure libero qui ullam vel. Culpa
    expedita hic nemo nulla pariatur possimus repudiandae sed soluta tempora, veniam vero, voluptate?
  </div>
  <div>Ab alias consequuntur cupiditate deleniti distinctio dolore dolores dolorum ducimus eius est fuga hic, in
    incidunt ipsam iure molestiae, molestias nam quidem sint tempora tempore velit, veniam vitae voluptatem
    voluptatibus?
  </div>
  <div>Beatae consequuntur cumque eius, fuga inventore iste itaque iusto, labore maxime officiis quaerat quasi quidem
    repellat rerum sequi tenetur veritatis. Commodi consectetur eligendi esse magni voluptate. Asperiores sunt vitae
    voluptas?
  </div>
  <div>Amet aperiam deleniti dolores dolorum esse est exercitationem facilis illo inventore necessitatibus nesciunt
    nihil officiis, perferendis sequi totam, unde veritatis? Dolores ea, expedita impedit in inventore nostrum officia
    quaerat sunt.
  </div> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius facere saepe voluptates. Alias ea eum eveniet explicabo, perferendis qui tempore ullam. Culpa cum fugit omnis perspiciatis quasi ratione reiciendis voluptate.
 <div>Amet aperiam deleniti dolores dolorum esse est exercitationem facilis illo inventore necessitatibus nesciunt
    nihil officiis, perferendis sequi totam, unde veritatis? Dolores ea, expedita impedit in inventore nostrum officia
    quaerat sunt.
  </div> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius facere saepe voluptates. Alias ea eum eveniet explicabo, perferendis qui tempore ullam. Culpa cum fugit omnis perspiciatis quasi ratione reiciendis voluptate.
 <div>Amet aperiam deleniti dolores dolorum esse est exercitationem facilis illo inventore necessitatibus nesciunt
    nihil officiis, perferendis sequi totam, unde veritatis? Dolores ea, expedita impedit in inventore nostrum officia
    quaerat sunt.
  </div> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius facere saepe voluptates. Alias ea eum eveniet explicabo, perferendis qui tempore ullam. Culpa cum fugit omnis perspiciatis quasi ratione reiciendis voluptate.
</div>
<div class="btn btn-primary btn-center" routerLink="/info">watch info</div>


