
<div class="container mt-5 ">
<table class="table table-dark" >
  <thead>
  <tr>
    <th scope="col">Avatar</th>
    <th scope="col">Nickname</th>
    <th scope="col">Link</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><img class="card-img" style="width: 50px;" [src]="user.avatar_url" alt="Card image cap"></td>
    <td>{{user.login}}</td>
    <td><a [href]="user.html_url" class="link">Link</a></td>
  </tr>
  </tbody>
</table>
  <button class="btn btn-primary" routerLink="/about-app">about app</button>
  <button class="btn btn-primary" routerLink="">Search user</button>
</div>

